<ion-view view-title="Chats">
  <ion-content>
    <div class="view-head">
      <span class="option-left"><a href=""><i class="fa fa-chevron-left"></i>Back</a></span>
      <span class="title">Inbox</span>
      <span class="option-right"><a href=""><i class="ion-compose"></i></a></span>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}<span> - Here to care</span></h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <span class="time">11:30am</span>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
