<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Discover Tab -->
  <ion-tab title="Discover" icon-off="fa fa-search" icon-on="fa fa-search" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab> 

  <!-- Inbox Tab -->
  <ion-tab title="Inbox" icon-off="fa fa-envelope" icon-on="fa fa-envelope" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Notification Tab -->
  <ion-tab title="Notification" icon-off="fa fa-bell" icon-on="fa fa-bell" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="fa fa-user" icon-on="fa fa-user" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>

