<ion-view hide-nav-bar="true" cache-view="false" overflow-scroll=’true’>
    <ion-content>

        <div class="category-page">
            <h1>Caregiver</h1>
            <div class="category-banner" style="background-image:url('img/category-banner.png')">
                <h2>Small intro to the Industry and it’s goals</h2>
            </div>

            <div class="category-options">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Distance from you
                        </div>
                        <select> 
                            <option>10KM</option>
                            <option selected>30KM</option>
                            <option>50KM</option>
                            <option>100KM</option>
                            <option>150KM</option>
                            <option>200KM</option>
                        </select>
                    </label>

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Order By
                        </div>
                        <select>
                            <option>Cheapest</option>
                            <option selected>Nearest</option>
                            <option>Highly Rated</option>
                        </select>
                    </label>

                    <label class="item item-input item-select">
                        <div class="input-label">
                            Category
                        </div>
                        <select>
                            <option>Tax</option>
                            <option selected>Mechanic</option>
                            <option>Cleaners</option>
                            <option>Caregiver</option>
                            <option>Wedding Planner</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="list-providers">
                <ul>
                    <li>
                        <a href="" ng-repeat="item in array | orderBy:predicate:reverse | filter:searchContainer.searchTerms | filter:searchContainer.profession track by $index" href="{{item.href}}">
                            <figure>
                                <img src="img/profile-img.png"/>
                            </figure>
                            <div class="provider-desc">
                                <div class="name">
                                    <h3>Sarah Smith</h3><span>Here to Care</span>
                                </div>
                                <ul class="skills">
                                    <li>12 Year Experience</li>
                                    <li>Willing to travel</li>
                                    <li>Triple threat</li>
                                </ul>
                                <div class="options">
                                    <div class="distance">
                                        3.1 KM
                                    </div>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    
                                </div>
                            </div>
                        </a>
                        <a href="" class="favourites"><i class="fa fa-heart-o"></i></a>
                    </li>

                    <li>
                        <a href="" ng-repeat="item in array | orderBy:predicate:reverse | filter:searchContainer.searchTerms | filter:searchContainer.profession track by $index" href="{{item.href}}">
                            <figure>
                                <img src="img/profile-img.png"/>
                            </figure>
                            <div class="provider-desc">
                                <div class="name">
                                    <h3>Sarah Smith</h3><span>Here to Care</span>
                                </div>
                                <ul class="skills">
                                    <li>12 Year Experience</li>
                                    <li>Willing to travel</li>
                                    <li>Triple threat</li>
                                </ul>
                                <div class="options">
                                    <div class="distance">
                                        3.1 KM
                                    </div>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    
                                </div>
                            </div>
                        </a>
                        <a href="" class="favourites"><i class="fa fa-heart-o"></i></a>
                    </li>

                    <li>
                        <a href="" ng-repeat="item in array | orderBy:predicate:reverse | filter:searchContainer.searchTerms | filter:searchContainer.profession track by $index" href="{{item.href}}">
                            <figure>
                                <img src="img/profile-img.png"/>
                            </figure>
                            <div class="provider-desc">
                                <div class="name">
                                    <h3>Sarah Smith</h3><span>Here to Care</span>
                                </div>
                                <ul class="skills">
                                    <li>12 Year Experience</li>
                                    <li>Willing to travel</li>
                                    <li>Triple threat</li>
                                </ul>
                                <div class="options">
                                    <div class="distance">
                                        3.1 KM
                                    </div>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    
                                </div>
                            </div>
                        </a>
                        <a href="" class="favourites"><i class="fa fa-heart-o"></i></a>
                    </li>
                </ul>
                
            </div>

        </div>

        

        
        <!--
        <a class="ob-list-row ob-map-list-row"
                   >
                    <div class="ob-list-col-img">
                        
                    </div>
                    <div class="ob-list-col-flex">
                        <div class="ob-list-text">
                            <span class="ob-list-text ob-blue-color">{{item.username}}{{item.name}}</span>
                            <span class="ob-list-subtext">{{item.profession}}{{item.category.name}}</span>
                            <span class="ob-list-text-soft">{{item.distance | number:1}}km</span>
                        </div>
                        <div class="ob-list-subtext" ng-show="$root.header != 'Events' && (item.sizes.numOfReviews == undefined || item.sizes.numOfReviews == 0)">
                            No Ratings Yet
                        </div>
                        <div class="ob-list-stars" ng-show="item.sizes.numOfReviews >= 0">
                            <img class="ob-list-star" src="img/professional-profile/blue-star-single.png"/>
                            <img class="ob-list-star" ng-hide="item.sizes.rating/item.sizes.numOfReviews > 1.4" src="img/professional-profile/white-star-single.png"/>
                            <img class="ob-list-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 1.4" src="img/professional-profile/blue-star-single.png"/>
                            <img class="ob-list-star" ng-hide="item.sizes.rating/item.sizes.numOfReviews > 2.4" src="img/professional-profile/white-star-single.png"/>
                            <img class="ob-list-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 2.4" src="img/professional-profile/blue-star-single.png"/>
                            <img class="ob-list-star" ng-hide="item.sizes.rating/item.sizes.numOfReviews > 3.4" src="img/professional-profile/white-star-single.png"/>
                            <img class="ob-list-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 3.4" src="img/professional-profile/blue-star-single.png"/>
                            <img class="ob-list-star" ng-hide="item.sizes.rating/item.sizes.numOfReviews > 4.4" src="img/professional-profile/white-star-single.png"/>
                            <img class="ob-list-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 4.4" src="img/professional-profile/blue-star-single.png"/>
                            <span class="ob-list-subtext">{{item.sizes.numOfReviews}} reviews</span>
                        </div>
                    </div>
                </a>
            -->
    </ion-content>
</ion-view>
