<!doctype html>
<meta charset="utf-8"/>
<title>React Tabs</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/ionic.app.css" rel="stylesheet">
<!--<script src=""></script>-->
<!--<script src=""></script>-->
<link href="css/style.css" rel="stylesheet">

<link href="browserify/node_modules/rc-collapse/assets/index.css" rel="stylesheet">
<link href="browserify/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
<link href="browserify/bower_components/slick-carousel/slick/slick-theme.css" rel="stylesheet">
<style type="text/css">
    html,body {
        overflow: auto;

    }
</style>
<body>
    <div id="reactSlider"></div>
    <ul class="profile-tabs">
        <li>
            <a href="#" ng-click="scrollTo('description')" class="active">Provider</a>
        </li>
        <li>
            <a href="#" ng-click="scrollTo('about')">Services</a>
        </li>
    </ul>
    <div id="about"></div>

    <div id="services">
        <div id="react-services">
            <ul class="service-list">
                <li>
                    <h2><a href="" title="Senior Care">Dog Walker</a></h2>
                    <div class="service-details">
                        <div class="service-options">
                            <span class="price">$20/hr</span>
                            <span class="rating">
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star-half-o"></i>
                            </span>
                            <span class="review-count">(27 Reviews)</span>
                            <span class="badge">Popular</span>
                        </div>
                        <p>Do you know a senior or child who needs a helping hand to get things done around the house? I am certified to take care of patients suffering from Alzheimer’s, common illness, surgery, and hospitalization. We can help!</p>
                    </div>
                </li>
                <li>
                    <h2><a href="" title="Senior Care">Child Care</a></h2>
                    <div class="service-details">
                        <div class="service-options">
                            <span class="price">$20/hr</span>
                            <span class="rating">
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star-half-o"></i>
                            </span>
                            <span class="review-count">(27 Reviews)</span>
                            <span class="badge">Popular</span>
                        </div>
                        <p>Do you know a senior or child who needs a helping hand to get things done around the house? I am certified to take care of patients suffering from Alzheimer’s, common illness, surgery, and hospitalization. We can help!</p>
                    </div>
                </li>
                <li>
                    <h2><a href="" title="Senior Care">Senior Care</a></h2>
                    <div class="service-details">
                        <div class="service-options">
                            <span class="price">$20/hr</span>
                            <span class="rating">
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star"></i>
                                <i className="fa fa-star-half-o"></i>
                            </span>
                            <span class="review-count">(27 Reviews)</span>
                            <span class="badge">Popular</span>
                        </div>
                        <p>Do you know a senior or child who needs a helping hand to get things done around the house? I am certified to take care of patients suffering from Alzheimer’s, common illness, surgery, and hospitalization. We can help!</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="review">
        <div class="profile-reviews">

            <div class="review-overview">
                <h3>REVIEWS</h3>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>

                    <span>(27 Reviews)</span>
                </div>
            </div>
            <div class="list">
                <div class="item item-avatar" href="#">
                    <img src="http://i.ebayimg.com/00/s/MTkwWDE4MA==/z/3fQAAOSwwpdW8SEJ/$_35.JPG">
                    <p>Back off, man. I'm a scientist.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>
                <div class="item item-avatar" href="#">
                    <img src="http://i.ebayimg.com/00/s/MTkwWDE4MA==/z/3fQAAOSwwpdW8SEJ/$_35.JPG">
                    
                    <p>Back off, man. I'm a scientist.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>
                <div class="item item-avatar" href="#">
                    <img src="http://i.ebayimg.com/00/s/MTkwWDE4MA==/z/3fQAAOSwwpdW8SEJ/$_35.JPG">
                    
                    <p>Back off, man. I'm a scientist.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>
                <div class="item item-avatar" href="#">
                    <img src="http://i.ebayimg.com/00/s/MTkwWDE4MA==/z/3fQAAOSwwpdW8SEJ/$_35.JPG">
                    
                    <p>Back off, man. I'm a scientist.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="order-btn">
        <a href="" class="Order Now">Order Now </a>
    </div>
    <div id="description"></div>

    <div id="reviews"></div>

    
</body>
<script src="browserify/bundle.js"></script>
<script>
    var user = {
        $id: "33a4cc08-5659-470b-a660-bbbdbb501ac4",
        address: "540 Sherbourne St, Toronto, ON M4X 1L2, Canada",
        curlocation: [43.64722241, -79.37402860000002],
        email: "a@q.com",
        group: "Trainers",
        imgLink: "http://i.ebayimg.com/00/s/MTkwWDE4MA==/z/3fQAAOSwwpdW8SEJ/$_35.JPG",
        info: "I am a professional tax guy. I file tax everyday",
        latitude: 43.6691204,
        location: [43.64722241, -79.37402860000002],
        longitude: -79.3759403,
        modified: 1463544992498,
        normalRate: 3,
        position: [43.64722241, -79.37402860000002],
        primeRate: 5,
        profession: "tax",
        username: "qqqqq",
        youtubeLink: "cQ5SJRiDEhU"
    };
    renderAbout(user);
    renderSlider();
    renderDescription(user, 55.4, 5, 4.3);

    var services = [{$id: "a", name: "name a", description: "name a description"}, {$id: "b", name: "name b", description: "name b description"}];
    var reviews = [{$id: "ra", serviceId: "a", username: "user a", text: "some text a"}, {$id: "rb", serviceId: "a", username: "user b", text: "some text b"}]
    renderReview(services, reviews);

</script>
