<ion-view view-title="Edit Profile">
    <ion-content>
       <div class="view-head">
          <span class="option-left">Back</a></span>
          <span class="title">Edit Profile</span>
          <span class="option-right">Save</span>
        </div>

        <div class="edit-profile">
        	<div class="username">
				<div class="profile-title">Service Name</div>
				<input type="text" name="" value="John Doe">
			</div>
			<div class="profession">
				<div class="profile-title">Profession</div>
				<input type="text" name="" value="Some Job">
			</div>
			<div class="profile-pic">
				<div class="profile-title-big">Profile Picture</div>
				<ul>
					<li>
						<img src="img/profile-img.png">
					</li>
				</ul>
				<a href="" title="Change">Change</a>
			</div>
			<div class="bio">
				<div class="profile-title">Short Bio</div>
				<textarea>Do you know a senior or child who needs a helping hand to get things done around the house?</textarea>
			</div>
			<div class="notification">
				<ul class="list">
					<li class="item item-toggle">
						Push Notifications
						<label class="toggle toggle-balanced">
							<input type="checkbox">
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>
				</ul>

			</div>
			<div class="social">
				<div class="profile-title">Social Link</div>
				<input type="text" name="" value="youtubeprofile.com">
			</div>

			<div class="terms">
				<div class="profile-title">By saving your profile, you agree to Jobby’s terms of service. </div>
			</div>

			<div class="signout">
				<a href="">Sign Out</a>
			</div>
        </div>

    </ion-content>
</ion-view>
