<ion-view hide-nav-bar="true">
    <ion-content class="ob-bg1">
        <ion-slide-box class="ob-slide-box"
                       show-pager="true"
                       pager-click="navSlide(index)"
                       ng-init="disableSwipe()"
                       on-slide-changed="slideChanged($index)">
            <ion-slide>
                <div class="intro-slide">
                    <figure>
                        <img src="img/intro1.png" alt="Gain access to new customers">
                    </figure>
                    <div class="intro-text">
                        <h1>Gain access to new customers</h1>
                        <p>Let us help you to find exciting things you will love, no matter where you go.</p>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="intro-slide">
                    <figure>
                        <img src="img/intro2.png" alt="Gain access to new customers">
                    </figure>
                    <div class="intro-text">
                        <h1>Grow your reputation</h1>
                        <p>Let us help you to find exciting things you will love, no matter where you go.</p>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="intro-slide">
                    <figure>
                        <img src="img/intro3.png" alt="Gain access to new customers">
                    </figure>
                    <div class="intro-text">
                        <h1>Know your customers better</h1>
                        <p>Let us help you to find exciting things you will love, no matter where you go.</p>
                    </div>
                </div>
            </ion-slide>

            
        </ion-slide-box>
        <div class="intro-buttons">
            <a href="#/prelogin/register" title="Sign Up" class="btn btn-blue">Sign up</a>
            <a href="#/prelogin/login" title="Sign Up" class="btn btn-white">Log in</a>
        </div>
        <div class="explore-app small-link">
            <a href="" title="Explore Jobby">Not ready to Sign Up? Explore the app.</a>
        </div>
    </ion-content>
</ion-view>
