<ion-view view-title="Set Location">
	<ion-content>
		
		<div class="view-head">
	      <span class="option-left">Back</a></span>
	      <span class="title">Set Location</span>
	    </div>

		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search your location">
			</label>
		</div>

		<div class="selected-location">
			<p>501 Euclid Avenue<span>Toronto, ON</span></p>
			<a href="javascript:void(0)">Change</a>
		</div>

		<ul class="location-list">
			<li>
				<a href="javascript:void(0)">
					501 Euclid Avenue<span>Toronto, ON</span>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					501 Euclid Avenue<span>Toronto, ON</span>
				</a>
			</li>
		</ul>



		<div class="list location-comments">			
			<label class="item item-input item-stacked-label">
				<span class="input-label">Additional Comments</span>
				<textarea placeholder="Comments"></textarea>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">* This appears below your location on your public profile bio</span>
			</label>
		</div>

    </ion-content>
</ion-view>
