<ion-view cache-view="false" hide-nav-bar="true">
    <ion-content>
        <div class="view-head">
          <span class="option-left"><a href=""><i class="fa fa-chevron-left"></i>Messages</a></span>
          <span class="title">Sarah</span>
        </div>

        <div class="message-list">
            <div class="message-row">
                <p>How much is 8 weeks?</p>
            </div>
            <div class="message-row incoming">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

        <div class="message-input">
            <div class="list">
              <label class="item item-input">
                <i class="icon ion-ios-camera placeholder-icon"></i>
                <input type="text" placeholder="Compose Message">
              </label>
              <!-- remove 'disabled' with JS when we add some text in above input, the button color will change -->
              <button class="button" disabled>Send</button>
            </div>
        </div>

    </ion-content>
</ion-view>