<ion-view view-title="My Sessions">
    <ion-content>
       <div class="view-head">
          <span class="option-left">Back</a></span>
          <span class="title">My Bookings</span>
        </div>

		<div class="schedule-date-tab">
			<p><span>23</span> June 2016</p>
			<div class="icons">
				<a href=""><i class="fa fa-plus"></i></a>
				<a href=""><i class="fa fa-calendar"></i></a>
			</div>
		</div>

		<div class="booked-schedule-list">
			<div class="booked-schedule-item">
				<div class="time">9:00AM - 10:00AM</div>
				<ul class="services-booked">
					<li>
						<h2>Dog Walker</h2>
						<span>Fransis Han</span>
					</li>
					<li>
						<h2>Dog Walker</h2>
						<span>Fransis Han</span>
					</li>
				</ul>
			</div>
			<div class="booked-schedule-item">
				<div class="time">12:00AM - 10:00AM</div>
				<ul class="services-booked">
					<li>
						<h2>Dog Walker</h2>
						<span>Fransis Han</span>
					</li>
				</ul>
			</div>
		</div>

    </ion-content>
</ion-view>
