<ion-view view-title="My Services">
	<ion-content>
    	<div class="view-head">
			<span class="option-left">Back</a></span>
			<span class="title">My Bookings</span>
		</div>

		<div class="service-list">
			<p>Here to Care</p>
			<ul>
				<li>
					<a href="">Childcare <i class="ion-chevron-right"></i></a>
					
				</li>
				<li>
					<a href="">Senior Care <i class="ion-chevron-right"></i></a>
					
				</li>
				<li>
					<a href="">Dog Walker <i class="ion-chevron-right"></i></a>
					
				</li>
			</ul>
		</div>


		<div class="edit-services">
			<div class="service-name">
				<div class="service-title">Service Name</div>
				<p>Senior Care</p>
			</div>
			
			<div class="service-desc">
				<div class="service-title">Service Description</div>
				<p>Do you know a senior or child who needs a helping hand to get things done around the house?</p>
			</div>

			<div class="duration">
				<div class="service-title">Average duration of service</div>
				<div class="form-element">
					<input type="text" name="" placeholder="3">
					<span> <i>/</i> Hours</span>
				</div>
			</div>

			<div class="rate">
				<div class="service-title">Overtime Rate</div>
				<div class="form-element">
					<input type="text" name="" placeholder="30">
					<span> <i>/</i> Hour</span>
				</div>
			</div>

			<div class="slot">
				<div class="service-title">Max number of bookings per time slot</div>
				<div class="form-element">
					<input type="text" name="" placeholder="10">
					<span> <i>/</i> Hour</span>
				</div>
			</div>
			<ul class="list">
				<li class="item item-toggle">
					Bookings need to be approved
					<label class="toggle toggle-balanced">
						<input type="checkbox">
						<div class="track">
							<div class="handle"></div>
						</div>
					</label>
				</li>
			</ul>

			<div class="photo">
				<div class="service-title">Photos </div>
				<span>* Upload a promo video for better results</span>
				<div class="form-element">
					<input type="file" name="">
				</div>
			</div>

			<div class="photo-preview">
				<ul>
					<li>
						<a href="">Upload Cover Photo</a>
						<p>Cover</p>
					</li>
					<li>
						<a href=""><i class="fa fa-plus"></i></a>
					</li>
					<li>
						<a href=""></a>
					</li>
					<li>
						<a href=""></a>
					</li>
				</ul>
			</div>
			
			
			

			

		</div>
	</ion-content>
</ion-view>