<ion-view cache-view="false" hide-nav-bar="true">
    <ion-content>
        <div class="view-head">
          <span class="option-left">Cancel</a></span>
          <span class="title">Sarah Smith</span>
        </div>

        <div class="order-job">
          <div class="title">Select desired services</div>
          <ul class="service-list">
            <li>
              <a href="">Dog Walker <span>$11/hr</span></a>
            </li>
            <li>
              <a href="">Child Care <span>$25/hr</span></a>
            </li>
            <li>
              <a href="">Senior Care <span>$20/hr</span></a>
            </li>
          </ul>

          <div class="title">Book a service for</div>
          <div class="book-date">
            <p>June 3 2016</p>
            <a href="" title="change">Change</a>
          </div>

          <div class="title">Select a general time slot</div>
          <ul class="time-list">
            <li>
              <a href="">12:00PM - 4:00PM</a>
            </li>
            <li>
              <a href="">4:00PM - 8:00PM</a>
            </li>
            <li>
              <a href="">8:00PM - 12:00PM</a>
            </li>
          </ul>

          <div class="title center">Don’t see a time slot that works for you?</div>
          <a href="" class="order-btn">Request a time</a>

          <div class="title">Please select a start time</div>
          <ul class="time-list">
            <li>
              <a href="">12:00PM</a>
            </li>
            <li>
              <a href="">12:30PM</a>
            </li>
            <li>
              <a href="">01:00PM</a>
            </li>
            <li>
              <a href="">01:30PM</a>
            </li>
            <li>
              <a href="">02:00PM</a>
            </li>
            <li>
              <a href="">02:30PM</a>
            </li>
            <li>
              <a href="">03:00PM</a>
            </li>
            <li>
              <a href="">03:30PM</a>
            </li>

          </ul>

          <div class="order-summary">
            <div class="order-summary-item">
              <div class="row">
                <div class="col col-75"><h2>Dog Walker</h2></div>
                <div class="col col-25"><a href="">Edit</a></div>
              </div>
              <div class="row">
                <div class="col col-50"><p class="time">2:00PM</p></div>
                <div class="col col-50"><p class="price">$31.00 CAD</p></div>
              </div>
            </div>

            <div class="order-summary-item">
              <div class="row">
                <div class="col col-75"><h2>Child Care</h2></div>
                <div class="col col-25"><a href="">Edit</a></div>
              </div>
              <div class="row">
                <div class="col col-50"><p class="time">2:00PM</p></div>
                <div class="col col-50"><p class="price">$31.00 CAD</p></div>
              </div>
            </div>
          </div>

          <a href="" class="order-btn"><i class="ion-plus"></i> Add another service from provider</a>

        </div>

    </ion-content>
</ion-view>