<ion-view hide-nav-bar="true" animation="slide-left-right">
    <ion-nav-title><span class="ob-nav-bar-logo"></span></ion-nav-title>
    <ion-content class="ob-bg1">
        <div class="prelogin">
            <a href="#/prelogin/home" title="Close" class="page-close"><i class="fa fa-times" aria-hidden="true"></i></a>
            <h1 class="super-title">Jobby</h1>

            <div class="prelogin-form">
                <p class="title">Hello!<br/>Sign up to get started.</p>
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Business Email">
                    </label>
                    
                    <label class="item item-input">
                        <input type="password" placeholder="Password">
                    </label>
                </div>
            </div>
            
            <div class="connect-social">
                <p class="divider">or Sign up using</p>
                <a href="" class="fb-button"><i class="fa fa-facebook"></i> Facebook</a>
                <div class="explore-app small-link">
                    <a href="" title="Explore Jobby">Not ready to Sign Up? Explore the app.</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
