@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/chunkfive-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfns_displayregular';
    src: url('../fonts/a616acbf4e599032727f5ef6f0956cdb-webfont.woff2') format('woff2'),
         url('../fonts/a616acbf4e599032727f5ef6f0956cdb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$blue : #4083FF;
$white : #fff;
$darkgray : #4E4E4E;
$lightgray : #9C9C9C;
$fbblue: #25479B;
$fadegray: #B3B3B3;
$black: #000;

h1, h2, h3, h4, h5, h6 {
	font-family: 'chunkfiveroman';
}
p,a {
	font-family: 'sfns_displayregular';
}

.slider-pager {
	.slider-pager-page {
		color: $blue;
	}
}

.btn {
	color: $white;
	background: $blue;
	border: 1px solid $blue;
	display: inline-block;
	text-decoration: none;
	width: 130px;
	border-radius: 5px;
	text-align: center;
	font-size: 15px;
	padding: 10px 0;
	&.btn-white {
		background: $white;
		color: $blue;
	}
}

.intro-slide {
	max-width: 480px;
	margin: 0 auto;
	img {
		max-width: 100%;
		padding-bottom: 120px;
		width: 100%;
	}
	.intro-text {
		padding: 60px 35px 0;
		background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

		position: absolute;
		width: 100%;
		bottom: 60px;

	}
	h1 {
		font-size: 25px;
		color: $darkgray;
		max-width: 170px;
	}
	p {
		font-size: 12px;
		color: $darkgray;
		max-width: 170px;
	}
}
.intro-buttons {
	text-align: center;
	a {
		margin: 0 5px;
	}
}
.small-link {
	text-align: center;
	a {
		font-size: 11px;
		display: inline-block;
		margin: 15px 0;
	}
}
.prelogin {
	padding: 25px;
	position: relative;
	max-width: 600px;
	margin: 0 auto;
	.title {
		font-size: 15px;
		color: $darkgray;
		text-align: center;
		margin: 80px 0 30px;
	}
	.list {
		margin-bottom: 10px;
		.item {
			&:first-child {
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
			}
			&:last-child {
				border-bottom-right-radius: 5px;
				border-bottom-left-radius: 5px;
			}
		}
	}
}
.prelogin-form {
	margin-bottom: 60px;
}
.super-title {
	font-size: 20px;
	color: $blue;
	text-align: center;
	margin: 0;
}
.page-close {
	color: $lightgray;
	font-size: 25px;
	position: absolute;
	right: 10px;
    top: 25px;
}
.fb-button {
	display: inline-block;
    background: #25479B;
    border-radius: 5px;
    color: #fff;
    width: 250px;
    margin: auto;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    i {
    	margin-right: 10px;
    }
}

.connect-social {
	text-align: center;
	position: relative;
	.divider {
		color: $lightgray;
		margin-bottom: 20px;
		&:before,&:after {
			background: #9c9c9c none repeat scroll 0 0;
		    content: "";
		    display: block;
		    height: 1px;
		    left: 0;
		    position: absolute;
		    top: 10px;
		    width: 30%;
		}
		&:after {
			right: 0;
			left: auto;
		}
	}
}

.register-steps {
	.slider-pager {
		top: 50px;
		bottom: auto;
	}
	.register-step {
		padding: 30px 10px;
		min-height: 380px;
	}
	.social-accounts {
		text-align: center;
		li {
			display: inline-block;
			margin: 0 5px;
			a {
				background: #D7D7D7;
				border-radius: 50%;
			    color: #fff;
			    display: block;
			    font-size: 20px;
			    height: 40px;
			    padding: 10px 0;
			    text-align: center;
			    width: 40px;
			    &:hover,&.active {
			    	&.fb {
				    	background: #25479B;
				    }
				    &.tw {
				    	background: #00aced;
				    }
				    &.gp {
				    	background: #dd4b39;
				    }
				    &.li {
				    	background: #007bb6;
				    }
			    }
			    
			}
		}
	}
	.footer {
		font-size: 9px;
		color: $fadegray;
		text-align: center;
	}
	.upload-photo {
		text-align: center;
		display: block;
    	margin: 80px 0 0;
	}
}

.view-head {
	background: #F9F9F9;
	padding: 15px 0;
	text-align: center;
	overflow: hidden;
	font-size: 16px;
	a {
		color: #387ef5;
		text-decoration: none;
	}
	.option-left {
		float: left;
		margin-left: 10px;
		z-index: 1;
		position: relative;
		i {
			margin-right: 5px;
		}
	}
	.option-right {
		float: right;
		margin-right: 10px;
		z-index: 1;
		position: relative;
		i {
			margin-left: 5px;
		}
	}
	.title {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		color: #030303;
	}
}

.item {
	h2 {
		font-family: 'sfns_displayregular';
		span {
			font-size: 14px;
			font-weight: normal;
			color: #7A7A7A;
		}
	}
	span.time {
		color: #8e8e93;
	    font-size: 14px;
	    position: absolute;
	    right: 10px;
	    top: 15px;
	}
}

.item-icon-right .icon-accessory {
    right: 3px;
    top: 10px;
}
.item-complex.item-icon-right .item-content {
    padding-right: 65px;
}


.message-input {
	position: fixed;
	width: 100%;
	.button {
		background: none;
		color: #387ef5;
	    position: absolute;
	    right: 0;
	    top: 0;
	    z-index: 2;
	}
	.icon {
	    font-size: 30px;
	    line-height: 1;
	}
	input[type="text"] {
		padding-right: 54px;
	}
}

.message-list {
	.message-row {
		overflow: hidden;
		margin: 10px;
		p {
			margin: 0;
			float: right;
			background: #4083FF;
			color: #fff;
			border-radius: 20px;
			padding: 10px 15px;
			max-width: 80%;
		}
		&.incoming {
			p {
				background: #44DB5E;
				float: left;
			}
		}
	}
	
}

.order-job {
	padding: 30px 0;
	.title {
		font-size: 14px;
		color: #000;
		padding: 0 10px;
		margin: 30px 0 10px;
		&.center {
			text-align: center;
		}
	}

	.service-list {
		padding: 0;
		margin: 0;
		li {
			a {
				display: block;
				font-size: 20px;
				color: $blue;
				padding: 15px 10px;
				text-decoration: none;
				font-family: 'chunkfiveroman';
				font-weight: bold;
				border-bottom: 1px solid #E0E0E0;
				span {
					font-size: 14px;
					color: #6E6E6E;
					margin-left: 5px;
					font-family: 'sfns_displayregular';
					font-weight: normal;
				}
				&:hover {
					background: rgba(0,0,0,0.04);
				}
			}
		}
	}

	.book-date {
		position: relative;
		p {
			font-size: 17px;
			margin: 0 10px;
			border-bottom: 1px solid #E0E0E0;
			padding: 0 0 10px;
		}
		a {
			position: absolute;
			right: 10px;
			top: 0;
			color: $blue;
			text-decoration: none;
		}
	}

	.time-list {
		padding: 0;
		margin: 0;
		li {
			a {
				display: block;
				font-size: 17px;
				color: $blue;
				padding: 15px 10px;
				text-decoration: none;
				border-bottom: 1px solid #E0E0E0;
				&:hover {
					background: rgba(0,0,0,0.04);
				}
			}
		}
	}

	a.order-btn {
		display: block;
		padding: 7px 10px;
		border: 1px solid $blue;
		border-radius: 5px;
		text-align: center;
		margin: 20px 10px 0;
		text-decoration: none;
		font-size: 16px;
		position: relative;
		i {
			position: absolute;
			left: 10px;
		}
	}

	.order-summary {
		.order-summary-item {
			border-bottom: 1px solid #E0E0E0;
			margin: 10px 0;
    		padding: 0 0 15px;
			h2 {
				font-size: 20px;
				margin: 0;
			}
			a {
				font-size: 17px;
				color: $blue;
				display: block;
				text-align: right;
				text-decoration: none;
			}
			p.time {
				font-size: 17px;
				margin: 0;
			}
			p.price {
				text-align: right;
				margin: 0;
				font-size: 23px;
			}
		}
	}
}
	

.profile-tabs {
	padding: 0;
	margin: 0;
	text-align: center;
	li {
		display: inline-block;
		width: 48%;
		a {
			display: block;
			text-decoration: none;
			font-size: 13px;
			color: #8C8C8C;
			border-bottom: 1px solid #8C8C8C;
			padding: 10px;
			&.active {
				color: #000;
				border-bottom: 1px solid #000;
			}
		}
	}
}

#react-about {
	padding: 0 10px;
	margin: 30px 0;
	figure, .profile-details {
		display: inline-block;
		vertical-align: middle;
	}

	figure {
		width: 25%;
		img {
			max-width: 100%;
			border-radius: 50%;
		}
	}
	.profile-details {
		width: 75%;
		padding: 0 0 0 20px;
		h2 {
			font-size: 22px;
			color: #434343;
			font-weight: 400;
			font-family: 'sfns_displayregular';
			margin: 0;
		}
		p {
			margin: 0;
			font-size: 15px;
			color: #434343;
		}
		span {
			display: block;
			margin: 0;
			font-size: 14px;
			color: #434343;
		}
		.rating {
			color: #FFBF00;
		}
	}

	.profile-extras {
		margin-top: 15px;
		.distance, .city {
			font-size: 13px;
			color: #434343;
		}

		.distance {
			margin-right: 20px;
		}
	}

	.description {
		font-size: 15px;
		color: #434343;
		margin-top: 20px;
		p {
			height: 60px;
			position: relative;
			overflow: hidden;
			&:after {
				content: "";
				width: 100%;
				height: 40px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

			}
		}
		a {
			bottom: -25px;
		    font-size: 14px;
		    position: absolute;
		    right: 20px;
		    text-decoration: none;
		}
	}

	.ask {
		margin-top: 20px;
		a {
			text-decoration: none;
			font-size: 14px;
			color: #4083FF;
			i {
				margin-right: 5px;
			}
		}
		
	}

	.social-links {
		margin: 20px 0;
		border-bottom: 2px solid #e0e0e0;
		padding-bottom: 20px;
		p {
			color: #000;
			font-size: 12px;
		}
		ul {
			li {
				display: inline-block;
				margin-right: 20px;
				a {
					font-size: 24px;
					color: #000;
				}
			}
		}
	}
}

.service-list {
	margin: 0 10px;
	li {
		margin-bottom: 20px;
		h2 {
			margin: 0;
			a {
				font-family: 'chunkfiveroman';
				color: #000;
				text-decoration: none;
				font-size: 20px;
			}
		}
		.service-details {
			padding: 20px 0;
			.service-options {
				margin-bottom: 15px;
				span {
					margin-right: 5px;
					&.badge {
						text-transform: uppercase;
						background: #00D171;
						color: #fff;
					}
				}
			}
			p {
				font-size: 15px;
				color: #434343;
			}
		}
	}
}

.profile-reviews {
	margin: 0 10px;
	.review-overview {
		text-align: center;
		h3 {
			font-family: 'sfns_displayregular';
			font-weight: normal;
			font-size: 10px;
		}
		.rating {
			span {
				display: block;
				font-size: 11px;
			}
		}
	}
	.rating {
		i {
			color: #FFBF00;
		}
	}
}

.order-btn {
	bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 2;
	a {
		display: block;
		color: #fff;
		background: #4083FF;
		padding: 20px 0;
		text-align: center;
		text-decoration: none;
		font-size: 17px;
	}
}

.menu-page {
	background: $blue;
}
.menu-user-header {
	margin: 20px 15px 0;
	padding: 0 5px 10px;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
	span {
		vertical-align: middle;
		display: inline-block;
		font-size: 17px;
    	margin-right: 10px;
    	color: #fff;
		&.ob-sidemenu-cog {
		    float: right;
		    font-size: 14px !important;
		    margin: 17px 0;

		}
		img {
			max-width: 50px;
			border-radius: 50%;
		}
	}
}
.menu-items {
	margin: 0 15px;
	li {
		a {
			background: none;
			border: none;
			border-bottom: 1px solid rgba(255,255,255,0.5);
			font-family: 'chunkfiveroman';
			color: #fff;
			font-size: 16px;
			position: relative;
			span {
				font-family: 'sfns_displayregular';
				display: block;
				font-size: 13px;
				margin-top: 5px; 
				
			}
			i {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				margin: auto;
				height: 20px;
			}
		}
		&:last-child {
			a {
				border: none;
			}
		}
	}
}


.schedule-date-tab {
	background: rgba(0,0,0,0.05);
	margin: 5px 0;
    padding: 5px 10px;

	p {
		display: inline-block;
		margin: 0;
		color: #878787;
		span {
			color: #000;
		}
	}
	.icons {
		float: right;
		a {
			color: $blue;
			margin-left: 10px;
			display: inline-block;
			font-size: 16px;

		}
	}
}

.open-schedule-item {
	position: relative;
	margin: 0 10px;
	padding: 15px 0;
	border-bottom: 1px solid #E0E0E0;
	.slot {
		font-size: 17px;
		color: $blue;
	}
	.services {
		margin: 10px 0;
		li {
			display: inline-block;
			color: rgba(0,0,0,0.5);
			font-size: 14px;
			padding-left: 5px;
			&:before {
				content: "\f111";
				font: normal normal normal 6px/1 FontAwesome;
				left: -4px;
			    position: relative;
			    top: -2px;
			}
		}
	}
	.badges {
		display: inline-block;
		span {
			display: inline-block;
			background: #00d171;
			color: #fff;
			font-size: 10px;
			&.orange {
				background: #B05200;
			}
		}
	}
	.days {
		display: inline-block;
		span {
			border-radius: 50%;
		    color: #000;
		    display: inline-block;
		    font-size: 10px;
		    height: 20px;
		    text-align: center;
		    width: 20px;
			&.dark {
				background: $blue;
				color: $white;
			}
			&.light {
				background: #7FBCFF;
				color: $white;
			}
		}
	}
	.remove {
		position: absolute;
		right: 0;
		top: 20px;
		font-size: 15px;
		color: #585858;
	}
}

.booked-schedule-item {
	margin: 10px 10px 20px;
	.time {
		font-size: 12px;
		color: #A8A8AD;
	}
	.services-booked {
		li {
			background: rgba(0,122,255,0.3);
			border-radius: 5px;
			padding: 15px;
			margin-bottom: 10px;
			h2 {
				display: inline-block;
				font-size: 15px;
				margin: 0 10px 0 0;
			}
		}
	}
}

.from-to {
	padding: 10px;
	border-bottom: 1px solid #E0E0E0;
	ul {
		overflow: hidden;
		li {
			float: left;
			width: 50%;
			font-size: 13px;
			span {
				display: block;
				font-size: 18px;
				color: #000;
			}
		}
	}
}
.available-service-selection {
	margin: 10px 10px 30px;
	p {
		font-size: 13px;
	}
	.item {
		border-width: 0 0 1px 0;
		margin: 0;
	}
	.item-content {
		font-family: 'chunkfiveroman';
		font-size: 18px;
	}
}

.repeat-schedule {
	margin: 10px 10px 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E0E0E0;
	ul {
		margin-bottom: 10px;
		li {
			border: none;
			font-size: 16px;
			padding-left: 0;
		}
	}
	.days {
		margin: 10px 0;
		span {
			border-radius: 50%;
		    color: #000;
		    display: inline-block;
		    font-size: 13px;
		    height: 36px;
		    text-align: center;
		    width: 36px;
		    padding: 8px 0;
			&.dark {
				background: $blue;
				color: $white;
			}
			&.light {
				background: #7FBCFF;
				color: $white;
			}
		}
	}
	p {
		span {
			display: inline-block;
			margin-right: 5px;
			font-size: 13px;
			color: #9C9C9C;

			&.dark { 
				color: $blue;
			}
			&.light {
				color: #7FBCFF;
			}
			&.gray {
				color: #666666;
			}
		}
	}
}

.prime-rate {
	margin: 0 10px 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E0E0E0;
	ul {
		margin-bottom: 10px;
		li {
			border: none;
			font-size: 16px;
			padding-left: 0;
		}
	}
	p {
		font-size: 13px;
		color: #9C9C9C;
		a {
			color: $blue;
		}
	}
}
.set-slots {
	margin: 10px;
	p {
		margin: 0;
		color: #A8A8AD;
		font-size: 12px;
	}
	.slot-item {
		position: relative;
		padding: 15px 0;
		border-bottom: 1px solid #E0E0E0;
		.slot {
			font-size: 17px;
			color: $blue;
		}
		.services {
			
			li {
				display: inline-block;
				color: rgba(0,0,0,0.5);
				font-size: 14px;
				padding-left: 5px;
				&:before {
					content: "\f111";
					font: normal normal normal 6px/1 FontAwesome;
					left: -4px;
				    position: relative;
				    top: -2px;
				}
			}
		}
		.badges {
			margin: 10px 0;
			span {
				display: inline-block;
				background: #00d171;
				color: #fff;
				font-size: 10px;
				&.orange {
					background: #B05200;
				}
			}
		}
		.remove {
			position: absolute;
			right: 0;
			top: 20px;
			font-size: 15px;
			color: #585858;
		}
	}

}