.search-list-header {
	height: 120px;
	background: $blue;
	text-align: center;
	form {
	    margin: auto;
	    padding: 10px 0 15px;
	    width: 90%;
	    .list {
	    	border-radius: 5px;
	    	.item {
	    		border-radius: 5px;
	    		padding: 0 0 0 16px;
	    	}
	    }
	    input[type="text"] {
	    	height: 30px;
	    }
	}
	.sub-title {
		img, p {
			display: inline-block;
			vertical-align: middle;
		}
		p {
			color: $white;
			margin: 0 0 0 10px;
		}
	}
}
.search-list-items {
	ul {
		padding: 10px;
		li {
			border-bottom:1px solid #E0E0E0;
			padding: 13px 0;
			figure,.list-item {
				display: inline-block;
				vertical-align: middle;
			}
			figure {
				width: 20%;
				text-align: center;
			}
			.list-item {
				width: 78%;
				h2 {
					color: $darkgray;
					font-size: 20px;
					margin: 0 0 10px;
				}
				p {
					color: $lightgray;
					font-size: 13px;
					margin: 0;
				}
			}
			&:hover,.activated {
				background: rgba(64,131,255,0.1);
			}
		}
	}
}
.category-page {
	h1 {
		font-size: 17px;
		font-family: 'sfns_displayregular';
		text-align: center;
		margin: 10px 0;
	}
}
.category-banner {
	height : 140px;
	background-size: cover;
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
	h2 {
		font-size: 21px;
	    margin: 0 auto;
	    text-align: center;
	    width: 80%;
		color: $white;
	}
}
.category-options {
	.input-label {
		color: #555555;
		font-size: 15px;
	}
	.item-select::after {
		border: none;
	}
	select {
		color: $blue;
		font-size: 15px;
		padding: 0 16px;
	}
}
.list-providers {
	ul {
		padding: 0 10px;
		li {
			position: relative;
			border-bottom: 1px solid #e0e0e0;
			padding: 10px 0;
			a {
				text-decoration: none;
				color: $black;
				
			}
			figure,.provider-desc {
				display: inline-block;
				vertical-align: middle;
			}
			figure {
				width: 25%;
				text-align: center;
				img {
					max-width: 100%;
					border-radius: 5px;
				}
			}
			.provider-desc {
				width: 73%;
			}
			.name {
				h3 {
					font-size: 17px;
					font-weight: normal;
					font-family: 'sfns_displayregular';
					margin: 0;
					display: inline-block;
					margin-right: 10px;
				}
				span {
					font-size: 14px;
				}
			}
			.skills {
				padding: 3px 0;
				li {
					list-style: none;
					display: inline-block;
					font-size: 12px;
					border: none;
					padding: 0 3px;
					&:before {
						content: "\f111";
						font: normal normal normal 7px/1 FontAwesome;
						left: -4px;
    					position: relative;
    					top: -1px;
					}
				}
			}
			.distance,.rating {
				display: inline-block;
				vertical-align: middle;
			}
			.rating {
				color: #FFBF00;
			}
			.distance {
				font-size: 12px;
				margin-right: 20px;
			}
			.favourites {
				bottom: 10px;
			    position: absolute;
			    right: 5px;
			    color: #e0e0e0;
			    &:hover {
			    	color: red;
			    }
			}
		}
	}
}

.tabs {
	height: 52px;
	.tab-item {
		padding: 5px 0;
		.icon {
			font-size: 24px;
    		height: 28px;
		}
		.tab-title {
			font-size: 10px;
		}
	}
}